.goat-tee-fan-edition-1330-x-png {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/7f6712463d46ea847afbab9414017ee0697fcb4f?Expires=1711700619&KeyName=fn12-cdn&Signature=ezH41l-RIilB-0yYNP0tTRZS-AU=');
    position: absolute;
    left: 50%;
    bottom: -0.5px;
    translate: -50% 0;
    width: 330px;
    height: 413px;
  }
  .div-tt-description {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0 0.5px 0;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-link-3-star-fan-edition {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.571;
    color: #191919;
  }
  .rs-149900 {
    margin-right: 0.1px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.333;
    color: #B4985B;
  }
  .tabpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    box-sizing: border-box;
  }
  .link {
    position: relative;
    width: 330px;
    height: 412.5px;
  }
  .portugal-1330-x-jpg {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/b1774605bb15a2b1ed5d1f52ae03d4fc211344e2?Expires=1711700619&KeyName=fn12-cdn&Signature=RNOegJCYXxnZzAvM7H8hCU8SRqY=');
    position: absolute;
    left: 50%;
    bottom: -0.5px;
    translate: -50% 0;
    width: 330px;
    height: 413px;
  }
  .div-tt-description-1 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0 0.5px 0;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-link-the-kings-landing {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.571;
    color: #191919;
  }
  .rs-1499002 {
    margin-right: 0.1px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.333;
    color: #B4985B;
  }
  .tabpanel-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .link-4 {
    position: relative;
    width: 330px;
    height: 412.5px;
  }
  .and-solskjaer-has-won-it-1330-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/f2b5f551ec90c3567ef68967f9428f90b0afbdf2?Expires=1711700619&KeyName=fn12-cdn&Signature=XsLU4EKtHMDIOee8bo0cIEoIp4Q=');
    position: absolute;
    left: 50%;
    bottom: -0.5px;
    translate: -50% 0;
    width: 330px;
    height: 413px;
  }
  .div-tt-description-5 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 31px 0.5px 31.2px;
    width: fit-content;
    box-sizing: border-box;
  }
  .heading-2-link-and-solksjaer-has-won-it-oversized-tshirt {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.571;
    color: #191919;
  }
  .rs-139900 {
    margin-left: 0px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.333;
    color: #B4985B;
  }
  .tabpanel-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    box-sizing: border-box;
  }
  .link-7 {
    position: relative;
    width: 330px;
    height: 412.5px;
  }
  .corner-taken-quickly-1330-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/f8f95cb1b58950cad7df59773d190a2870399152?Expires=1711700619&KeyName=fn12-cdn&Signature=C4XjoeFsHs1DRiZrz2mmFUMa7xk=');
    position: absolute;
    left: 50%;
    bottom: -0.5px;
    translate: -50% 0;
    width: 330px;
    height: 413px;
  }
  .div-tt-description-8 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0 0.5px 0;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-link-corner-taken-quickly-oversized-tshirt {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.571;
    color: #191919;
  }
  .rs-1399009 {
    margin-right: 0.1px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.333;
    color: #B4985B;
  }
  .tablist-tab-1-of-2 {
    border-radius: 4px;
    background: #191919;
    width: 8px;
    height: 8px;
  }
  .tablist-tab-2-of-2 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tablist-tab-3-of-2 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tablist-tab-4-of-2 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .div-container {
    background: #0C1929;
    margin-bottom: 71px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 23px 0 33px 0.3px;
    width: 1920px;
    box-sizing: border-box;
  }
  .heading-1-new-arrivals {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.292;
    text-transform: uppercase;
    color: #B4985B;
  }
  .div-slick-list {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 1380px;
    box-sizing: border-box;
  }
  .tabpanel-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    box-sizing: border-box;
  }
  .link-11 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 330px;
    height: 413px;
    box-sizing: border-box;
  }
  .japan-1330-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/02d834b43d6b7dd6a9fa2b15537203843d117626?Expires=1711700619&KeyName=fn12-cdn&Signature=WEDWGavlsA4fa2yAQGLdb5-NHUQ=');
    width: 330px;
    height: 413px;
  }
  .div-tt-description-12 {
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 0 20px 0.3px;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-link-japan-collared-sweatshirt {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.571;
    color: #191919;
  }
  .rs-199900 {
    position: absolute;
    left: 50%;
    bottom: 0.5px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.333;
    color: #B4985B;
  }
  .tabpanel-13 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    box-sizing: border-box;
  }
  .link-14 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 330px;
    height: 413px;
    box-sizing: border-box;
  }
  .blaugrana-red-1330-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/51f979a1495b89b04943c7101990be142fdabe16?Expires=1711700619&KeyName=fn12-cdn&Signature=iWU0cDj0CD3eKtvb-Zvv16iMvs0=');
    width: 330px;
    height: 413px;
  }
  .div-tt-description-15 {
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 0 20px 0.4px;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-link-blaugrana-red-cuban-collared-shirt {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.571;
    color: #191919;
  }
  .rs-13990016 {
    position: absolute;
    left: 50%;
    bottom: 0.5px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.333;
    color: #B4985B;
  }
  .tabpanel-17 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    box-sizing: border-box;
  }
  .link-18 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 330px;
    height: 413px;
    box-sizing: border-box;
  }
  .blaugrana-blue-1330-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/ba39cd7fd9b2bb8e805c5166aa11cd604d46ea9d?Expires=1711700619&KeyName=fn12-cdn&Signature=cY26yvYYGnhw0hnBPymQ9pow3Sg=');
    width: 330px;
    height: 413px;
  }
  .div-tt-description-19 {
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 0 20px 0.4px;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-link-blaugrana-blue-cuban-collared-shirt {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.571;
    color: #191919;
  }
  .rs-13990020 {
    position: absolute;
    left: 50%;
    bottom: 0.5px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.333;
    color: #B4985B;
  }
  .tabpanel-21 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    box-sizing: border-box;
  }
  .link-22 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 330px;
    height: 413px;
    box-sizing: border-box;
  }
  .the-red-devils-1330-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/14a438066699e7fc3609c3d5f2f9fd1ffe038a6b?Expires=1711700619&KeyName=fn12-cdn&Signature=6kj_tPKGXu2xlPEDddU5YcRTiaQ=');
    width: 330px;
    height: 413px;
  }
  .div-tt-description-23 {
    background: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 0 20px 0.4px;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-link-red-devils-cuban-collared-shirt {
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.571;
    color: #191919;
  }
  .rs-13990024 {
    position: absolute;
    left: 50%;
    bottom: 0.5px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    line-height: 1.333;
    color: #B4985B;
  }
  .tablist-tab-1-of-225 {
    border-radius: 4px;
    background: #191919;
    width: 8px;
    height: 8px;
  }
  .tablist-tab-2-of-226 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tablist-tab-3-of-227 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tablist-tab-4-of-228 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .heading-1-shop-by-categories {
    margin: 0 0 20px 0.5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.292;
    text-transform: uppercase;
    color: #000000;
  }
  .link-category-tshirts-330-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/403722dc6171d0993751d5d819329e745743de97?Expires=1711700619&KeyName=fn12-cdn&Signature=GGMck7MyXFHwP2DSHePvfeGh5fY=');
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 145.5px 0px 162.5px 0;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-t-shirts {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 0.917;
    color: #FFFFFF;
  }
  .link-category-sweatshirts-330-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/b3c7916d9e3f349a46165287190f9061d19612c4?Expires=1711700619&KeyName=fn12-cdn&Signature=WK8BsQgao8ldCk1ZViXD8GSgNTI=');
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 145.5px 0px 162.5px 0;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-sweat-shirts {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 0.917;
    color: #FFFFFF;
  }
  .link-category-posters-330-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/feb5fa7770d7add098de4fbe2b02d9b7970d57b6?Expires=1711700619&KeyName=fn12-cdn&Signature=Iw6ZtzIkyLFFxn_rHcQVOMcFyaU=');
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 145.5px 0 162.5px 0;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-posters {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 0.917;
    color: #FFFFFF;
  }
  .link-category-shirts-330-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/99c5708fe57f964a26f772405c9d50b3f478e593?Expires=1711700619&KeyName=fn12-cdn&Signature=7BvEJqLKgp4E50yhpgaSdW9JGBE=');
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 145.5px 0px 162.5px 0;
    width: 330px;
    box-sizing: border-box;
  }
  .heading-2-shirts {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 0.917;
    color: #FFFFFF;
  }
  .link-29 {
    margin: 1.4px 31px 12.3px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40px;
    height: 36.2px;
    box-sizing: border-box;
  }
  .vector {
    width: 40px;
    height: 36.2px;
  }
  .link-24-days-in-metro-cities {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #777777;
  }
  .link-heading-4-quick-deliveries {
    margin-bottom: 6.9px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #191919;
  }
  .link-30 {
    margin: 0.4px 36px 9.5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35px;
    height: 40px;
    box-sizing: border-box;
  }
  .vector-31 {
    width: 35px;
    height: 40px;
  }
  .link-monday-saturday-10-am-7-pm {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #777777;
  }
  .link-heading-4-dedicated-support {
    margin-bottom: 6.9px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #191919;
  }
  .link-32 {
    margin: 5.2px 36px 15.9px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35px;
    height: 28.7px;
    box-sizing: border-box;
  }
  .vector-33 {
    width: 35px;
    height: 28.7px;
  }
  .link-simply-return-it-within-7-days-no-questions-asked {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #777777;
  }
  .link-heading-4-hassle-free-returns {
    margin-bottom: 6.9px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #191919;
  }
  .div-layout-box-01-wrapper {
    background: #B4985B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 10px 10px;
    width: 1920px;
    box-sizing: border-box;
  }
  .make-in-india-cf-241-e-4-b-5-bec-4189-a-5-d-2-edfe-94-f-883-cd-300-x-png {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/46c6c53f3c0b28988aee99dcda042a91e440878b?Expires=1711700619&KeyName=fn12-cdn&Signature=B0BJj9i55UaXF37UXb7xFwc3szk=');
    width: 300px;
    height: 137px;
  }
  .strong-homegrown-made-in-india-crafted-with-passion {
    margin: 61px 0px 62px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    line-height: 0.636;
    color: #FFFFFF;
  }
  .footer {
    background: #0C1929;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    box-sizing: border-box;
  }
  .div-tt-footer-col {
    background: #0C1929;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 0 56px 0;
    width: 1920px;
    box-sizing: border-box;
  }
  .we-aim-to-make-shop-football-your-one-stop-destination-for-everything-related-to-football {
    margin: 0 25.5px 6px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #FFFFFF;
  }
  .heading-4-shopfootball {
    margin-right: 13px;
    width: 453.7px;
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: #FFFFFF;
  }
  .list-item-link-privacy-policy {
    margin-bottom: 6px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #FFFFFF;
  }
  .list-item-link-return-policy {
    margin-right: 3.8px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #FFFFFF;
  }
  .list-item-link-shipping-cancellation-policy {
    margin-right: 11px;
    width: 455.7px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #FFFFFF;
  }
  .list-item-link-terms-conditions {
    margin-left: 35.1px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #FFFFFF;
  }
  .heading-4-quick-links {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: #FFFFFF;
  }
  .list-item-link-about-us {
    margin-bottom: 6px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #FFFFFF;
  }
  .list-item-link-shop {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #FFFFFF;
  }
  .list-item-link-contact-us {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #FFFFFF;
  }
  .heading-4-information {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    color: #FFFFFF;
  }
  .div-tt-footer-custom {
    background: #0C1929;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 29px 886.9px 17px 0;
    width: 1920px;
    box-sizing: border-box;
  }
  .shopfootball-owned-by-the-mimema-company-all-rights-reserved {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 14px;
    line-height: 1.571;
    color: #FFFFFF;
  }
  .home-page {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    box-sizing: border-box;
  }
  .link-34 {
    border-radius: 6px;
    background: rgba(180, 152, 91, 0.75);
    position: absolute;
    top: 1082px;
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 8px;
    width: 62px;
    height: 62px;
    box-sizing: border-box;
  }
  .header {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 17px;
    width: 1920px;
    box-sizing: border-box;
  }
  .symbol {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    line-height: 1;
    color: #FFFFFF;
  }
  .div-tt-top-panel {
    background: #0F0F0F;
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 13px 0 14px 0.4px;
    width: 1920px;
    box-sizing: border-box;
  }
  .use-sf-15-for-a-flat-15-off-on-your-first-order {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #FFFFFF;
  }
  .link-final-logo-240-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/b5fe5bf303d8dd86efdc03cf0a644009aefad6b9?Expires=1711700619&KeyName=fn12-cdn&Signature=61M6p8MzMifbAFBLibNxHpQRTe0=');
    width: 40px;
    height: 49px;
  }
  .nav-list-item-link-home {
    margin-right: 12px;
    width: 57.9px;
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 22px;
    line-height: 1.1;
    color: #B4985B;
  }
  .nav-list-item-link-collections {
    margin-right: 2px;
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 22px;
    line-height: 1.1;
    color: #191919;
  }
  .nav-list-item-link {
    margin: 16.5px 0 3.5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 7.5px;
    height: 4px;
    box-sizing: border-box;
  }
  .vector-35 {
    width: 7.5px;
    height: 4px;
  }
  .nav-list-item-link-categories {
    margin-right: 2px;
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 22px;
    line-height: 1.1;
    color: #191919;
  }
  .nav-list-item-link-36 {
    margin: 16.5px 0 3.5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 7.5px;
    height: 4px;
    box-sizing: border-box;
  }
  .vector-37 {
    width: 7.5px;
    height: 4px;
  }
  .nav-list-item-link-about-us {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 22px;
    line-height: 1.1;
    color: #191919;
  }
  .nav-list-item-link-contact-us {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 22px;
    line-height: 1.1;
    color: #191919;
  }
  .button {
    margin: 3.9px 17.6px 2.3px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 17.8px;
    height: 17.8px;
    box-sizing: border-box;
  }
  .vector-38 {
    width: 17.8px;
    height: 17.8px;
  }
  .button-39 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 16.1px;
    height: 18.4px;
    box-sizing: border-box;
  }
  .vector-40 {
    width: 16.1px;
    height: 18.4px;
  }
  .div-slider-container {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/1f5d6f6c48af27478ca1f4eef6f18ebe6d000a45?Expires=1711700619&KeyName=fn12-cdn&Signature=k5mSiK_9pw2gOVJ9YBGKnMMkkcI=');
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 403.7px 15.2px;
    width: 1920px;
    box-sizing: border-box;
  }
  .div-arrow {
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    transform: rotate(135deg);
    width: 32.5px;
    height: 32.5px;
  }
  .div-arrow-41 {
    border-right: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    transform: rotate(-45deg);
    width: 32.5px;
    height: 32.5px;
  }
  .div-container-42 {
    background: #0C1929;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 23px 0 33px 0.3px;
    width: 1920px;
    box-sizing: border-box;
  }
  .heading-1-shop-by-collection {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    color: #B4985B;
  }
  .tabpanel-43 {
    position: relative;
    margin: 0 20px 2px 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 1880px;
    box-sizing: border-box;
  }
  .tabpanel-44 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 455px;
    box-sizing: border-box;
  }
  .link-45 {
    position: relative;
    width: 455px;
    height: 568.8px;
  }
  .blaugrana-1455-x-webp {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/2e11f4268ee67dd8ace122b0d9cd9047e93261d6?Expires=1711700619&KeyName=fn12-cdn&Signature=V7NCjjxYgPkp9PFbqWHI7t4dNPM=');
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: -0.3px;
    height: 100%;
  }
  .div-tt-description-46 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    width: 455px;
    box-sizing: border-box;
  }
  .heading-2-link-the-blaugrana {
    margin-bottom: 6.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: #191919;
  }
  .rs-14990047 {
    margin-right: 0px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.111;
    color: #B4985B;
  }
  .tabpanel-48 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 455px;
    box-sizing: border-box;
  }
  .link-49 {
    position: relative;
    width: 455px;
    height: 568.8px;
  }
  .goat-tee-fan-edition-1455-x-png {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/cc6cf382f233467a4606b66c9ad32e1f00ab798a?Expires=1711700619&KeyName=fn12-cdn&Signature=vveE9up1yRaFrwS5u-ZEpHPiRMU=');
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: -0.3px;
    height: 100%;
  }
  .div-tt-description-50 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    width: 455px;
    box-sizing: border-box;
  }
  .heading-2-link-3-star-fan-edition-51 {
    margin-bottom: 6.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: #191919;
  }
  .rs-14990052 {
    margin-left: 0px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.111;
    color: #B4985B;
  }
  .tabpanel-53 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 455px;
    box-sizing: border-box;
  }
  .link-54 {
    position: relative;
    width: 455px;
    height: 568.8px;
  }
  .madrid-1455-x-jpg {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/9d7a1b9543875cc8099148cdc0df11ad6cad44d8?Expires=1711700619&KeyName=fn12-cdn&Signature=sMm-YELQOnCoLdvWz5bq9WT6aKA=');
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: -0.3px;
    height: 100%;
  }
  .div-tt-description-55 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    width: 455px;
    box-sizing: border-box;
  }
  .heading-2-link-the-royals {
    margin: 0 0px 6.7px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: #191919;
  }
  .rs-14990056 {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.111;
    color: #B4985B;
  }
  .tabpanel-57 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 455px;
    box-sizing: border-box;
  }
  .link-58 {
    position: relative;
    width: 455px;
    height: 568.8px;
  }
  .netherlands-1455-x-jpg {
    background: url('https://fn12.com/api/clusters/cluster-fn12-prod-asia-southeast1/projects/UBHGJ7tNSE2a2Ec5eqz1Ri/assets/images/dcf4124fda7eeffdfa5a46adf700c7ec889dbc53?Expires=1711700619&KeyName=fn12-cdn&Signature=qJo1997k-fCBbKX5VgPqtCksqis=');
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: -0.3px;
    height: 100%;
  }
  .div-tt-description-59 {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    width: 455px;
    box-sizing: border-box;
  }
  .heading-2-link-the-philosopher {
    margin-bottom: 6.7px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: #191919;
  }
  .rs-14990060 {
    margin-left: 0px;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 1.111;
    color: #B4985B;
  }
  .tabpanel-tablist-tab-1-of-2 {
    border-radius: 4px;
    background: #191919;
    width: 8px;
    height: 8px;
  }
  .tabpanel-tablist-tab-2-of-2 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tabpanel-tablist-tab-3-of-2 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tabpanel-tablist-tab-4-of-2 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tabpanel-tablist-tab-5-of-2 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tabpanel-tablist-tab-6-of-2 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tabpanel-tablist-tab-7-of-2 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tabpanel-tablist-tab-8-of-2 {
    border-radius: 4px;
    background: #DADADA;
    width: 8px;
    height: 8px;
  }
  .tablist-item-tab {
    border-bottom: 2px solid #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    box-sizing: border-box;
  }
  .before {
    border-bottom: 2px solid #B3985B;
    width: 89.7px;
    height: 2px;
  }
  .legacies {
    margin: 0 12.8px 3px 13.2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.571;
    color: #191919;
  }
  .tablist-item-tab-61 {
    border-bottom: 2px solid #E6E6E6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 12.9px 5px 13.2px;
    box-sizing: border-box;
  }
  .moments {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.571;
    color: #999999;
  }
  .tablist-item-tab-62 {
    border-bottom: 2px solid #E6E6E6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 12.9px 5px 13.2px;
    box-sizing: border-box;
  }
  .baseball {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.571;
    color: #999999;
  }
  .tablist-item-tab-63 {
    border-bottom: 2px solid #E6E6E6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 12.8px 5px 13.2px;
    box-sizing: border-box;
  }
  .sweatshirts {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.571;
    color: #999999;
  }
  .tablist-item-tab-64 {
    border-bottom: 2px solid #E6E6E6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px 12.8px 5px 13.1px;
    box-sizing: border-box;
  }
  .oversized {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.571;
    color: #999999;
  }
  .div-container-indent {
    background: #FFFFFF;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1920px;
    box-sizing: border-box;
  }
  .link-65 {
    border-radius: 5px;
    background: #0C1929;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 9.5px 0 10.5px 0.4px;
    width: 300px;
    height: fit-content;
    box-sizing: border-box;
  }
  .see-all-products {
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.292;
    color: #FFFFFF;
  }
  .div-container-66 {
    background: #0C1929;
    margin-bottom: 71px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 23px 0 33px 0.3px;
    width: 1920px;
    box-sizing: border-box;
  }
  .heading-1-best-sellers {
    overflow-wrap: break-word;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.292;
    text-transform: uppercase;
    color: #B4985B;
  }
  .div-slick-list-67 {
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
  }
  .tabpanel-68 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    box-sizing: border-box;
  }
  .link-69 {
    position: relative;
    width: 330px;
    height: 412.5px;
  }
  .container {
    margin: 0 29.1px 6px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 989.6px;
    box-sizing: border-box;
  }
  .container-70 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-71 {
    margin: 14.4px 0 10.6px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 497.8px;
    height: fit-content;
    box-sizing: border-box;
  }
  .container-72 {
    margin: 13.5px 0 11.5px 0;
    display: flex;
    flex-direction: row;
    width: 65.4px;
    height: fit-content;
    box-sizing: border-box;
  }
  .container-73 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .container-74 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-75 {
    margin-bottom: 29px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-76 {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1880px;
    box-sizing: border-box;
  }
  .container-77 {
    margin: 0 68.5px 20.1px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1311.5px;
    box-sizing: border-box;
  }
  .container-78 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-79 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-80 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .container-81 {
    background: #D9D9D9;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3px 6.9px 2.5px 7px;
    width: 30px;
    height: 24px;
    box-sizing: border-box;
  }
  .container-82 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 1380px;
    box-sizing: border-box;
  }
  .container-83 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 62px;
    box-sizing: border-box;
  }
  .container-84 {
    margin: 0 0 6px 449.4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 534.7px;
    box-sizing: border-box;
  }
  .container-85 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1018.6px;
    box-sizing: border-box;
  }
  .container-86 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .container-87 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .container-88 {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 134px;
    box-sizing: border-box;
  }
  .container-89 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-90 {
    margin-bottom: 38px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 62px;
    box-sizing: border-box;
  }
  .container-91 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .container-92 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }